ol {
  color: #eee;
  background-color: #222831;
}

ol {
  padding-top: 20px;
  font-size: 18px;
}

li {
  margin-bottom: 10px;
}

ol li:before {
  content: counter(item);
  margin-right: 5px;
  font-size: 80%;
  background-color: #FF2442;
  color: #FFB830;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

ol li {
  list-style-type: none;
  counter-increment: item;
}

ol li ol {
  counter-reset: item;
  padding: 10px 0 5px 18px;
  font-size:15px;
}

ol li ol li {
  color:#bfe1f1;
  height:15px;
  margin-left:10px;
}

a {
  color: #CBF1F5;
}
